@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
  --brown: #743a39;
  --yellow: #f9b56f;
  --blue: #3277df;
  --green: #076d39;
  --white: #e0e0e2;
  --black: #2b252c;
  --red: rgb(209, 17, 17);
  --lightgray: #c1c0c0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  background-color: var(--yellow);
  font-family: sans-serif;
  color: var(--black);
  min-height: 100vh;
  background: url("../public/bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

#main-body {
  background: var(--white);
  margin: 100px auto;
  width: 400px;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.main-form {
  display: flex;
  flex-flow: column nowrap;
}

.main-form h2 {
  text-align: center;
  border-bottom: 2px solid rgb(117, 117, 117);
  padding: 20px 0px;
  font-family: garamond, serif;
  font-size: 2rem;
}

label {
  color: var(--blue);
  margin-top: 30px;
  font-size: 1rem;
  position: relative;
}

input {
  font-size: 1rem;
  border: 2px solid var(--blue);
  padding: 7px 3px;
  border-radius: 3px;
  width: 100%;
}

input:invalid {
  border: 2px solid var(--red);
}

button {
  font-size: 1.25rem;
  padding: 5px;
  cursor: pointer;
  transition-duration: 300ms;
}

.noborder {
  border: none;
  background-color: inherit;
}

.left-spc {
  margin-left: 10px;
}

.medium-text {
  font-size: 2rem;
}

.full-width {
  width: 100%;
}

.auth-btn {
  color: var(--white);
  background: var(--blue);
  border-radius: 5px;
  border: 2px solid var(--blue);
  margin: 30px 0px;
  width: fit-content;
  padding: 5px 15px;
}

.auth-btn:disabled {
  opacity: 0.75;
}

.auth-btn:hover {
  background-color: var(--green);
  border: 2px solid var(--green);
}

.toggle-p {
  text-align: center;
  margin: 25px 0px;
}

.pass-div {
  position: relative;
}

.pass-eye {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.pass-eye:hover {
  color: black;
}

.pwd-match-warn {
  color: var(--red);
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  visibility: hidden;
}

.username-warn {
  background-color: white;
  position: absolute;
  top: -10px;
  right: 25px;
  font-size: 0.8rem;
  padding: 4px 15px;
  border: 1px solid gray;
  border-radius: 5px;
}

#main-app {
  display: flex;
  flex-flow: row nowrap;
  transition-duration: 2s;
}

#side-nav {
  position: fixed;
  width: 100px;
  left: 0;
  background-color: var(--white);
  padding-top: 15px;
  height: 100vh;
  border-right: 1px solid var(--lightgray);
  height: 100vh;
  z-index: 10;
}

#right-half {
  display: grid;
  position: absolute;
  right: 0;
  left: 100px;
  grid-template-columns: 300px 1fr;
  transition-duration: 1s;
}

#main-workspace,
#main-entries {
  background-color: var(--white);
  border-right: 1px solid var(--lightgray);
  height: 100vh;
}

#right-half.left-move {
  left: -200px;
  transition-duration: 1s;
}

#date-menu {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 0 22px;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 15;
  background-color: var(--white);
  left: 0;
  top: 65px;
}

#select-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  font-weight: normal;
  border-bottom: 1px solid var(--lightgray);
  padding-bottom: 10px;
}

.selected-year {
  border: 2px solid var(--lightgray);
  padding: 0 8px;
  margin: 0 10px;
}

.not-selected {
  opacity: 0.5;
  font-weight: normal;
  font-size: 1rem;
}

#month-art {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 15px;
}

.month-btn {
  text-align: center;
  padding: 10px;
  border: 1px solid var(--white);
  cursor: pointer;
}

.month-btn:hover {
  border: 1px solid var(--black);
}

#date-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 300px;
}

.nrm-btn {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.single-btn {
  padding: 3px 5px;
  font-size: 1rem;
  border-radius: 0;
  border: 1px solid var(--lightgray);
}
